@import "./theme.css";
@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  width: 100%;
  min-height: 100%;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: var(--font-main);
  background-color: var(--background-color);
  color: var(--text-color);
}

body,
#root {
  width: 100%;
  min-height: 100%;
}

button,
input,
textarea,
select {
  font: inherit;
}
