@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

:root {
  --primary-color: #7c3aed;
  --secondary-color: #6662f0;
  --background-color: #05070a;
  --surface-color: #0f1720;
  --text-color: #f8fafc;
  --muted-text: #4b4f56;
  --font-main: "Poppins", sans-serif;
}
